*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.wrapper{
    width:80%;
    height: auto;
    background-color: #d0bfff;
    margin:auto;
}

/* Reset default margin and padding */
/* Apply styles to the container */
.container {
    background-color: #e9c2f3;
    display: flex; /* Use Flexbox */
    justify-content: flex-start; /* Horizontally center content */;
    /* Vertically center content */
    height: 200px; /* Set a minimum height for the container */
    width: 100%;
    align-items: center;
}

/* Style the logo */
.logo {
    margin-right: 20px; /* Add some spacing between logo and links */
}

/* Style the navigation links */
.nav-links ul {
    list-style: none; /* Remove list bullets */
    display: flex; /* Use Flexbox for the links */
}

.nav-links li {
    margin-right: 40px; /* Add spacing between links */
}

.nav-links a {
    text-decoration: none; /* Remove underlines from links */
    color: #333; /* Set link color */
}
img{
    width: 120px;
    height: 120px;
}
.banner{
    height: 350px;
}

footer{
    width: 100%;
    height: 150px;
    background-color: #fff8c9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center}

form{
    background-color:#d0bfff ;
}

label{
    width: 120px;
    display: inline-block;
    text-align: left;
    /* background-color: #8d0101; */
    margin-bottom: 10px;
}